/* SELECT2 */
.select2-container--krajee-bs4 .select2-selection {
    border: 1px solid #f2f2f2;
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    padding: 0.56rem 0.75rem;
    line-height: 14px;
    font-weight: 300;
    box-shadow: none;
    display: block;
    width: 100%;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select2-container--krajee-bs4 .select2-search--dropdown .select2-search__field {
    border: 1px solid #f2f2f2;
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 2px;
    box-shadow: none;
}
.select2-container--krajee-bs4 .select2-selection:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
    box-shadow: none;
    outline-style: none;
}
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection, .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    box-shadow: none;
}
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    box-shadow: none;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #f2f2f2;
}

